.body__menu {
    background-color: #426285; 
    display: flex;
    flex-direction: column;
    flex: .05;
    justify-content: space-between;
    padding-top: 1%;
    color: #ebebebeb;
}
.body__micon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8pt;
    padding: 8px;
    cursor:pointer;
    transition: 210ms;
}
.body__micon:hover,
.body__micon:focus {
    color:#ffb866eb;
}
.body__menu > .body__main > .body__micon > .MuiSvgIcon-root,
.body__menu > .body__sub > .body__micon > .MuiSvgIcon-root
 {
    font-size: 35px;
}

@media(max-width: 200px) {
    .body__menu{
        display: none;
    }
}