.message,
.message--sender {
  display: flex;
}
.message--sender {
  justify-content: flex-end;
}

.message__bulle,
.message__bulle--sender {
  background-color: rgba(155, 196, 229, 0.342);
  padding: 1.5%;
  margin: 1%;
  max-width: 50%;
  border-radius: 7px;

  overflow-wrap: break-word;
  text-overflow: clip;
  box-shadow: 9px 9px 28px -15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 9px 9px 28px -15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 9px 9px 28px -15px rgba(0, 0, 0, 0.22);
}
.message__title,
.message__title--sender {
  margin-bottom: 1.5%;
  overflow-wrap: break-word;
  text-overflow:clip;
}
.message__title--sender,
.message__content--sender p {
  text-align: end;
}

.message__bulle--sender {
  background-color: rgba(241, 201, 141, 0.342);
}

.message__content,
.message__content--sender {
  font-style: italic;
  font-size: 10.5pt;
  color: rgba(85, 98, 112, 0.753);
}

.message__content p,
.message__content--sender p {
  margin-top: 10px;
  font-size: 7.5pt;
  color: rgb(85, 98, 112, 0.46);
}
.message__content p {
  text-align: end;
}

#message__touser {
  cursor: pointer;
}
