.sheets {
    /* width: 96%; */
    flex: 1;
    margin: 5px;
    overflow: auto;
}

.sheets__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 15px;
}
.sheets__main {
    text-align: justify;
    cursor: pointer;
    font-weight: 500;
    padding-left: 10px ;
    opacity: 80%;
}
.sheets__main > p:hover,
.sheets__add:hover {
    color: rgb(100, 143, 237);
}

.sheets__pagination {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: 5vh;
}

.sheets__add {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 210ms;
}