.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.chat__loading {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat__loading h4{
  margin-top: 2%;
  opacity: 60%;
}

.chat__messages {
  flex: 0.95;
  max-height: 90vh;
  overflow: auto;
  flex-wrap: nowrap;
  margin: .6%;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chat__messages::-webkit-scrollbar{
display: none;
}

.chat__send {
  flex: 0.05;
  display: flex;
  align-items: center;
  background-color: #ebebebde;
}

.chat__send > form,
.chat__form {
  flex: 1;
  display: flex;
}

.chat__input {
  flex: 0.91;
  width: 100%;
  display: flex;
  justify-content: center;
}
.chat__input input {
  width: 95%;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 8px;
}
.chat__form .chat__button {
  flex: 0.09;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 179, 230);
  margin-right: 1vw;
  border-radius: 5px;
  transition: 120ms;
  cursor: pointer;
}
.chat__form .chat__button:hover,
.chat__form .chat__button:focus {
  background-color: rgb(17, 122, 184);
}

.chat__button .MuiSvgIcon-root {
  color: white;
}
