.add {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add__upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.upload__button {
    font-weight: 900;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.upload__submit {
    width: 100%;
    margin-top: 5vh;
}

.add__informations {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#add__loading {
    color: white;
    max-width: 25px;
    max-height: 25px;
}