.sheet__pdf {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.sheet__download {
  margin-top: 5vh;
}

.sheet__button {
  display: flex;
  align-items: center;
}

.sheet__author_info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sheet__author_info h3 {
    margin-left: .7vw;
}
