.sheet__pdf {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.sheet__download{
    margin-top: 5vh;
}

.sheet__button {
    display: flex;
    align-items: center;
}