.cc__option {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  padding: 20px;
}
.cc__option > h2 {
  padding: 20px;
  text-transform: uppercase;
  font-weight: 900;
}
.cc__option.begin {
  flex: 1;
}