.tuner {
    flex: .4;
}

.tuner__contents{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tuner__progressbar{
    background-color: #ebebebeb;
    width: 100%;
    height: 10%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
}

.tuner__note{
    display: flex;
    justify-content: center;
}