.tuner {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tuner__contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tuner__progressbar {
  background-color: #ebebebeb;
  width: 100%;
  height: 10%;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  color: rgb(76, 150, 76);

  box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 21px -7px rgba(0, 0, 0, 0.2);
}

.tuner__note {
  display: flex;
  justify-content: center;
}
