.userpage {
  flex: 1;
  padding: 1.25%;
  display: flex;
  flex-direction: column;
}

.user__contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user__avatar .MuiAvatar-root {
  width: 15vw;
  height: 15vw;
  border: .8px solid rgba(53, 61, 73, 0.212);
  box-shadow: 10px 10px 40px -6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 10px 10px 40px -6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 10px 40px -6px rgba(0, 0, 0, 0.15);
}

.user__infos b {
  font-size: 1.5vw;
  text-transform: capitalize;
}

#user__uid {
  margin-top: 10%;
  font-style: italic;
  font-size: 70%;
  opacity: 50%;
}
