.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.home__contents {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.home__log {
    flex: .4;
    display: flex;
    flex-direction: column;
}
.home__log h2 {
    text-align: center;
    margin-bottom: 2.5vh;
}

.home__log h2,
.tuner h2 {
  margin-top: 15vh;
}
.logs__contents{
    flex: .7;
    border: 1px dashed rgba(214, 154, 25, 0.301);
    padding: 2%;
    margin-bottom: 2vh;
}
.logs__pic{
    flex: .2;
    display: flex;
    justify-content: center;
}
#logs__pic{
    width: 50%;
    height: auto;
}

#home__em {
    color: rgba(128, 128, 128, 0.5);
    position: absolute;
    bottom: 2%;
    right: 42%;
}

@media (max-width: 770px) {
  .home__log {
    display: none;
  }
}
