.cc {
    display: flex;
    flex: 1;
}

.cc__main {
    flex: .7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cc__option {
    flex: .3;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 230, 230);
}

.main__cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.cc__main > h3 {
    flex: .35;
    display: flex;
    align-items: center;
}

.main__current {
    flex: .75;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__current > h1 {
    font-size: 5rem;
}
.main__current > h4 {
    font-size: 1.3rem;
    display: flex;
}
.main__current__pitch--found{
    color: skyblue;
    transform: translateY(20px);
    transition: 220ms;
}

.main__next {
   flex: .25;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 35%;
}