.tuto{
    display: flex;
    flex-direction: column;
    flex: .95;
    margin: 1%;
}

#tuto__image{
    max-width: 60vw;
    margin: 2vh;
} 

.tuto__title{
    background-color:rgba(71, 127, 160, 0.096);
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.tuto__contents{
    flex: 1;
    display: flex;
    flex-direction:column;
    margin: 2%;
    /* align-items: center; */
}